{% load static %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="es" dir="ltr" class="no-js">
    <head>
        <!-- Google tag -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DN07JMSY98"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-DN07JMSY98');
        </script>

        <meta charset="utf-8">
        <title>SMT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'base/born/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'base/born/css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'base/born/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'base/born/vendor/magnific/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'base/born/vendor/owl-carousel/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'base/born/vendor/owl-carousel/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'base/born/css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'base/born/colors/color1.css' %}">
        <script src="{% static 'base/born/js/modernizr.js' %}"></script>
        <link rel="icon" type="image/png" href="{% static 'base/born/images/favicon.png' %}?v=4">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'base/born/css/font-awesome.css' %}">
    </head>
    <body class="home">
        <div class="body">
             
            <header class="site-header {% block header_class %}{% endblock %}">

                <div class="container">

                    <div class="header-top">
                        <ul class="top-links pull-right">
                            <li><a href="/nosotros">Nosotros</a></li>
                            <li><a href="/contacto">Denuncie</a></li>
                            <li><a href="/anunciar">Anunciar</a></li>
                            <li><a href="/contacto">Contáctenos</a></li>
                            <li><i class="fa fa-phone"></i> (+57) 1 284 2168</li>
                        </ul>
                    </div>

                    <div class="header-main clearfix">
                
                        <div class="site-logo">
                            <a href="{% url 'generales:home' %}" class="default-logo"><img src="/static/base/born/images/logo.png" alt="Logo"></a>
                            <a href="{% url 'generales:home' %}" class="default-retina-logo"><img src="/static/base/born/images/logo@2x.png" alt="Logo" width="199" height="30"></a>
                            <a href="{% url 'generales:home' %}" class="sticky-logo"><img src="/static/base/born/images/sticky-logo.png" alt="Logo"></a>
                            <a href="{% url 'generales:home' %}" class="sticky-retina-logo"><img src="/static/base/born/images/sticky-logo@2x.png" alt="Logo" width="199" height="30"></a>
                        </div>
                        <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
                        <nav class="main-navigation pull-right">
                            <div id="main-menu-wrapper">
                                <ul class="sf-menu dd-menu pull-right" role="menu">
                                    {% for cat in MENU_TREE %}
                                        <li class="{% if cat.children %}menu-item-has-children{% endif %}">
                                            <a href="{{ cat.url|default:'#' }}">{{ cat.nombre }}</a>

                                            {% if cat.children %}
                                                <ul class="sub-menu">
                                                    {% for sub in cat.children %}
                                                        <li class="{% if sub.children %}menu-item-has-children{% endif %}">
                                                            <a href="{{ sub.url|default:'#' }}">{{ sub.nombre }}</a>
                                                            {% if sub.children %}
                                                                <ul class="sub-menu">
                                                                    {% for sub2 in sub.children %}
                                                                        <li>
                                                                            <a href="{{ sub2.url|default:'#' }}">{{ sub2.nombre }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>
            </header>

            
            {% block contenido %}
            {% endblock contenido %}

            <div class="site-footer parallax parallax3">
                <div class="container">
                    <div class="row">

                        <!-- Col 1 -->
                        <div class="col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h4 class="widgettitle">Sobre nosotros</h4>
                                <img src="{% static 'base/born/images/logo.png' %}" alt="">
                                <p>Sistema de Monitoreo Territorial.</p>
                            </div>
                        </div>

                        <!-- Col 2 -->
                        <div class="col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h4 class="widgettitle">Enlaces</h4>
                                <ul>
                                    <li><a href="{% url 'generales:nosotros' %}">Nosotros</a></li>
                                    <li><a href="{% url 'generales:contact' %}">Contacto</a></li>
                                    <li><a href="{% url 'generales:multimedia' %}">Multimedia</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Col 3 -->
                        <div class="col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h4 class="widgettitle">Twitter</h4>
                                <div class="twitter-widget" data-tweets-count="2"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <p>&copy; SMT - Sistema de Monitoreo Territorial</p>
                </div>
            </div>

        </div>

        <script src="{% static 'base/born/js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'base/born/vendor/magnific/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'base/born/js/ui-plugins.js' %}"></script>
        <script src="{% static 'base/born/js/helper-plugins.js' %}"></script>
        <script src="{% static 'base/born/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'base/born/js/bootstrap.js' %}"></script>
        <script src="{% static 'base/born/js/init.js' %}"></script>
        <script src="{% static 'base/born/vendor/flexslider/js/jquery.flexslider.js' %}"></script>
        <script src="{% static 'base/born/js/circle-progress.js' %}"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

    </body>
</html>
