<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SMT</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/base/assets/images/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/base/assets/images/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/base/assets/images/favicon.png">
    

    <!-- Fonts URL  https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
-->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/base/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/animate.css">
    <link rel="stylesheet" href="/static/base/assets/css/hover-min.css">
    <link rel="stylesheet" href="/static/base/assets/css/muzex-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/base/assets/css/style.css">
    <link rel="stylesheet" href="/static/base/assets/css/responsive.css">

    <link href="/static/base/assets/fonts/source-code-variable.css" rel="stylesheet">
    <link href="/static/base/assets/fonts/source-code-pro.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="page-wrapper">
        <nav class="main-nav-one stricky main-nav-one__home-two">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
                        <a href="{% url 'generales:home' %}">
                            <img src="/static/base/assets/images/LOGOS-04.png" alt="" width="153">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div>
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li><a href="{% url 'generales:home' %}">Inicio</a></li>
                            {% for categoria in categorias %}
                                {% if categoria.id != 20 %}
                                    {% if categoria.id == 17 %}
                                        <li><a href="{% url 'generales:seccion' categoria.id %}">{{categoria.nombre}}</a></li>
                                    {% else %}
                                        {% if categoria.id == 16 %}
                                            <li class="dropdown"><a href="#">{{categoria.nombre}}</a>
                                                <ul>
                                                    {% for subcategoria in categorias_mul %}
                                                        <li><a href="{% url 'generales:multimedia-s' subcategoria.id %}">{{subcategoria.nombre}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li class="dropdown">
                                                <a href="#">{{categoria.nombre}}</a>
                                                <ul>
                                                    {# TODO: This implementation is horrible; it goes against all design patterns and has too many unnecessary 'if' statements.#}
                                                    {% for subcategoria in subcategorias %}
                                                        {% if subcategoria.categoria.id == categoria.id %}
                                                            {% if subcategoria.id == 19 %}
                                                                <li>
                                                                    <a href="https://geovisor.smt-onic.com/" target="_blank">{{ subcategoria.nombre }}</a>
                                                                </li>
                                                            {% elif subcategoria.id == 51 %}
                                                                <li>
                                                                    <a href="https://geovisor.smt-onic.com/geovisor/">{{ subcategoria.nombre }}</a>
                                                                </li>
                                                            {% elif subcategoria.id == 26 %}
                                                                <li>
                                                                    <a href="https://wiki.smt-onic.com">{{ subcategoria.nombre }}</a>
                                                                </li>
                                                            {% else %}
                                                                {% if subcategoria.id == 14 %}
                                                                    <li><a href="{% url 'generales:nosotros' %}">{{subcategoria.nombre}}</a></li>
                                                                {% else %}
                                                                    {% if subcategoria.id == 15 %}
                                                                        <li><a href="{% url 'generales:team' %}">{{subcategoria.nombre}}</a></li>
                                                                    {% else %}
                                                                        {% if subcategoria.id == 27 %}
                                                                            <li class="dropdown"><a href="{% url 'generales:subseccion' subcategoria.id %}">{{subcategoria.nombre}}</a>
                                                                                <ul>
                                                                                    {% for modulo in modulos %}
                                                                                        <li><a href="{% url 'generales:modulos' modulo.id %}">{{modulo.nombre}}</a></li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                        {% else %}
                                                                            {% if subcategoria.id == 20 %}
                                                                                <li><a href="{% url 'generales:public' 20 %}">{{subcategoria.nombre}}</a></li>
                                                                            {% else %}
                                                                                {% if subcategoria.id == 22 %}
                                                                                    <li><a href="{% url 'generales:public' 22 %}">{{subcategoria.nombre}}</a></li>
                                                                                {% else %}
                                                                                    {% if subcategoria.id == 23 %}
                                                                                        <li><a href="{% url 'generales:public' 23 %}">{{subcategoria.nombre}}</a></li>
                                                                                    {% else %}
                                                                                        {% if subcategoria.id == 25 %}
                                                                                            <li><a href="{% url 'generales:mapas0' %}">{{subcategoria.nombre}}</a></li>
                                                                                        {% else %}
                                                                                            {% if subcategoria.id == 24 %}
                                                                                                <li><a href="https://play.google.com/store/apps/details?id=com.loco0321.smt" target="_blank">{{subcategoria.nombre}}</a></li>
                                                                                            {% else %}
                                                                                                <li>
                                                                                                    <a href="{% url 'generales:subseccion' subcategoria.id %}">{{ subcategoria.nombre }}</a>
                                                                                                </li>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <li><a href="{% url 'generales:contact' %}">Cont&aacute;ctenos</a></li>
                        </ul>
                    </div>
                    <!--
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                        <a class="sidemenu-icon side-content__toggler" href="#"><i class="muzex-icon-menu"></i></a>
                    </div>-->
                </div>
            </div>
        </nav>

        {% block contenido %}Blank{% endblock contenido %}

        <footer class="site-footer" style="background-color: rgb(23, 65, 51);">
            <div class="row justify-content-center" style="padding-top: 15px;">
                <div class="col-1 text-center"><span><a class="fab fa-facebook-f" style="color: #f7ab05;" href="https://www.facebook.com/SMTONIC/"></a></span></div>
                <div class="col-1 text-center"><span><a href="https://twitter.com/SMT_ONIC"><img src="/static/base/assets/images/twitter-x.png" height="14px;"/></a></span></div>
                <div class="col-1 text-center"><span><a class="fab fa-instagram" style="color: #f7ab05;" href="https://www.instagram.com/smt_onic/"></a></span></div>
            </div>
            <div class="site-footer__upper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <h4 class="" style="color: #f7ab05;">Direcci&oacute;n</h4>
                                <p style="color: rgb(222, 221, 221);">Calle 12B # 4 - 38</p>
                                <p style="color: rgb(222, 221, 221);">Barrio La Candelaria</p>
                                <p style="color: rgb(222, 221, 221);">Bogot&aacute;, D. C., Colombia</p>
                                <p style="color: rgb(222, 221, 221);">111711</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <h4 class="" style="color: #f7ab05;">Tel&eacute;fonos</h4>
                                <p style="color: rgb(222, 221, 221);">(+57) 1 284 2168</p>
                                <p style="color: rgb(222, 221, 221);">(+57) 1 805 0774</p>
                                <p style="color: rgb(222, 221, 221);">(+57) 1 805 0772</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <h4 class="" style="color: #f7ab05;">Fax</h4>
                                <p style="color: rgb(222, 221, 221);">(+57) 1 284 3465</p>
                            </div>
                            <div>
                                <h4 class="" style="color: #f7ab05;">E-Mail</h4>
                                <p style="color: rgb(222, 221, 221);">poblacion@onic.org.co</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="text-center">
                                <img src="/static/base/assets/images/LOGOS-01.png" alt="" class="logo-blanco" width="100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="inner-container" style="color: rgb(222, 221, 221);">
                        <p><span>&copy;&nbsp;<script>
                            document.write(new Date().getFullYear())
                            </script> ONIC</span>
                        </p>
                        <div class="site-footer__bottom-links">
                            <a href="#">T&eacute;rminos & condiciones</a>
                            <a href="#">Pol&iacute;tica de privacidad & T&eacute;rminos de uso</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="side-content__block" style="background-color: rgb(23, 65, 51);">
        <div class="side-content__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
        <div class="side-content__block-inner ">
            <div class="text-center"><a href="{% url 'generales:home' %}">
                <!--<img src="/static/base/assets/images/smt1.gif" alt="" width="100%">-->
                <img src="/static/base/assets/images/logo-smt_1.png" alt="" width="100%">
            </a></div>
            <div class="side-content__block-about">
                <h3 class="side-content__block__title">Qui&eacute;nes somos:</h3>
                <p class="side-content__block-about__text">Es un espacio que busca organizar toda la información territorial de los pueblos Indígenas en un solo sistema.</p>
                <a href="{% url 'generales:nosotros' %}" class="thm-btn side-content__block-about__btn">Ver M&aacute;s</a>
            </div>
            <hr class="side-content__block-line" />
            <div class="side-content__block-contact">
                <h3 class="side-content__block__title">Cont&aacute;ctenos</h3>
                <ul class="side-content__block-contact__list">
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-map-marker"></i>
                        Calle 12B # 4 - 38<br>
                        Barrio La Candelaria<br>
                        Bogot&aacute;, D. C., Colombia
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-phone"></i>
                        <a href="tel:526-236-895-4732">(+57) 1 284 2168<br>
                            (+57) 1 805 0774<br>
                            (+57) 1 805 0772
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:example@mail.com">poblacion@onic.org.co</a>
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-clock"></i>
                        Horario de Atenci&oacute;n: <small>09.00 a 17.00 Lunes - Viernes</small>
                    </li>
                </ul>
            </div>
            <div class="text-center"><img src="/static/base/assets/images/logo-onic-png.png" alt="" width="120">
                <p class="side-content__block__text site-footer__copy-text"><a href="#">ONIC</a><br> <small>&copy;&nbsp; {{hoy.year}} Todos los derechos reservados.</small></p>
            </div>
        </div>
    </div>
    <div class="side-menu__block">
        <a href="#" class="side-menu__toggler side-menu__close-btn"><i class="fa fa-times"></i>
            <!-- /.fa fa-close --></a>

        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">

            <a href="{% url 'generales:home' %}" class="side-menu__logo"><img src="/static/base/assets/images/LOGOS-01.png" alt="" width="143"></a>
            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <p class="side-menu__block__copy"><a href="#">ONIC</a><br> <small>&copy;&nbsp; {{hoy.year}} Todos los derechos reservados.</small></p>
            <div class="side-menu__social">
                <a href="https://www.facebook.com/SMTONIC/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/SMT_ONIC"><img src="/static/base/assets/images/twitter-x-white.png" height="14px;"/></a>
                <a href="https://www.instagram.com/smt_onic/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div><!-- /.side-menu__block-inner -->
    </div>

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Template JS -->
    <script src="/static/base/assets/js/jquery.min.js"></script>
    <script src="/static/base/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/base/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/base/assets/js/bootstrap-select.min.js"></script>
    <script src="/static/base/assets/js/isotope.js"></script>
    <script src="/static/base/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/base/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/base/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/base/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/base/assets/js/jquery.validate.min.js"></script>
    <script src="/static/base/assets/js/owl.carousel.min.js"></script>
    <script src="/static/base/assets/js/TweenMax.min.js"></script>
    <script src="/static/base/assets/js/waypoints.min.js"></script>
    <script src="/static/base/assets/js/wow.min.js"></script>
    <script src="/static/base/assets/js/jquery.lettering.min.js"></script>
    <script src="/static/base/assets/js/jquery.circleType.js"></script>
   

    <!-- Custom Scripts -->
    <script src="/static/base/assets/js/theme.js"></script>
    
</body>

</html>