<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMT</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/base/assets/images/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/base/assets/images/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/base/assets/images/favicon.png">
    <link rel="manifest" href="/static/base/assets/images/favicon/site.webmanifest">

    <!-- Fonts URL -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/base/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/animate.css">
    <link rel="stylesheet" href="/static/base/assets/css/hover-min.css">
    <link rel="stylesheet" href="/static/base/assets/css/muzex-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/base/assets/css/style.css">
    <link rel="stylesheet" href="/static/base/assets/css/responsive.css">



    <link rel="stylesheet" href="/static/base/wandau_template/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/base/wandau_template/css/odometer.min.css">
    <link rel="stylesheet" href="/static/base/wandau_template/css/fancybox.min.css">
    <link rel="stylesheet" href="/static/base/wandau_template/css/swiper.min.css">
    <link rel="stylesheet" href="/static/base/wandau_template/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base/wandau_template/css/style.css">
</head>

<body>
    <!-- <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>/.preloader -->
    <div class="page-wrapper">
        <nav class="main-nav-one stricky main-nav-one__home-two">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
                        <a href="{% url 'generales:home' %}">
                            <img src="/static/base/assets/images/LOGOS-05.png" alt="" width="143">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li class="dropdown">
                                <a href="about.html">Nosotros</a>
                                <ul>
                                    <li><a href="collection-fullwidth.html">Visi&oacute;n</a></li>
                                    <li><a href="collection-grid.html">Justificaci&oacute;n</a></li>
                                    <li><a href="collection-masonary.html">Objetivos</a></li>
                                    <li><a href="collection-masonary.html">Usuarios</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="collection-grid.html">Mediateca</a>
                                <ul>
                                    <li><a href="collection-fullwidth.html">Cat&aacute;stro Ind&iacute;gena</a></li>
                                    <li><a href="collection-grid.html">Salvaguardamos</a></li>
                                    <li><a href="collection-masonary.html">Censo</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="collection-grid.html">Ludoteca</a>
                                <ul>
                                    <li><a href="collection-fullwidth.html">Pueblos Ind&iacute;genas</a></li>
                                    <li><a href="collection-grid.html">Capsulas Pedag&oacute;gicas</a></li>
                                    <li><a href="collection-masonary.html">Catastro Ind&iacute;gena</a></li>
                                    <li><a href="collection-masonary.html">Aprendamos con SMT</a></li>
                                </ul>
                            </li>
                            <li><a href="news-standard.html">Noticias</a> </li>
                            <li><a href="contact.html">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                        <a class="sidemenu-icon side-content__toggler" href="#"><i class="muzex-icon-menu"></i></a>
                    </div>
                </div>
            </div>
        </nav>

        {% block contenido %}Blank{% endblock contenido %}

        <footer class="site-footer" style="background-color: rgb(23, 65, 51);">
            <div class="row justify-content-center" style="padding-top: 15px;">
                <div class="col-1 text-center"><span><a class="fab fa-facebook-f" style="color: #f7ab05;" href="https://www.facebook.com/Elsonajeroweb"></a></span></div>
                <div class="col-1 text-center"><span><a class="fab fa-twitter" style="color: #f7ab05;" href="https://www.facebook.com/Elsonajeroweb"></a></span></div>
                <div class="col-1 text-center"><span><a class="fab fa-instagram" style="color: #f7ab05;" href="https://www.facebook.com/Elsonajeroweb"></a></span></div>
            </div>
            <div class="site-footer__upper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <h4 class="" style="color: #f7ab05;">Direcci&oacute;n</h4>
                                <p>Calle 12B # 4 - 38</p>
                                <p>Barrio La Candelaria</p>
                                <p>Bogot&aacute;, D. C., Colombia</p>
                                <p>111711</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <h4 class="" style="color: #f7ab05;">Tel&eacute;fonos</h4>
                                <p>(+57) 1 284 2168</p>
                                <p>(+57) 1 805 0774</p>
                                <p>(+57) 1 805 0772</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <h4 class="" style="color: #f7ab05;">Fax</h4>
                                <p>(+57) 1 284 3465</p>
                            </div>
                            <div>
                                <h4 class="" style="color: #f7ab05;">E-Mail</h4>
                                <p>poblacion@onic.org.co</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="text-center">
                                <img src="/static/base/assets/images/LOGOS-01.png" alt="" class="logo-blanco" width="100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="inner-container">
                        <p><span>&copy;&nbsp;<script>
                            document.write(new Date().getFullYear())
                            </script> ONIC</span>
                        </p>
                        <div class="site-footer__bottom-links">
                            <a href="#">T&eacute;rminos & condiciones</a>
                            <a href="#">Pol&iacute;tica de privacidad & T&eacute;rminos de uso</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Ingrese aqui su busqueda....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="side-content__block">
        <div class="side-content__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
        <div class="side-content__block-inner ">
            <a href="{% url 'generales:home' %}">
                <img src="/static/base/assets/images/logo-smt.png" alt="" width="143">
            </a>
            <div class="side-content__block-about">
                <h3 class="side-content__block__title">Nosotros</h3>
                <p class="side-content__block-about__text">{{nosotros}}</p>
                <a href="#" class="thm-btn side-content__block-about__btn">Ver M&aacute;s</a>
            </div>
            <hr class="side-content__block-line" />
            <div class="side-content__block-contact">
                <h3 class="side-content__block__title">Cont&aacute;ctenos</h3>
                <ul class="side-content__block-contact__list">
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-map-marker"></i>
                        Calle 12B # 4 - 38<br>
                        Barrio La Candelaria<br>
                        Bogot&aacute;, D. C., Colombia
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-phone"></i>
                        <a href="tel:526-236-895-4732">(+57) 1 284 2168<br>
                            (+57) 1 805 0774<br>
                            (+57) 1 805 0772
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:example@mail.com">poblacion@onic.org.co</a>
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-clock"></i>
                        Horario de Atenci&oacute;n: 09.00 a 17.00 Lunes - Viernes
                    </li>
                </ul>
            </div>
            <p class="side-content__block__text site-footer__copy-text"><a href="#">ONIC</a> <small><i class="fa fa-copyright"></i> {{hoy.year}} Todos los derechos reservados.</small></p>
        </div>
    </div>

    <div class="side-menu__block">

        <a href="#" class="side-menu__toggler side-menu__close-btn"><i class="fa fa-times"></i>
            <!-- /.fa fa-close --></a>

        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">

            <a href="{% url 'generales:home' %}" class="side-menu__logo"><img src="/static/base/assets/images/logo-light-1-1.png" alt="" width="143"></a>
            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <p class="side-menu__block__copy">(c) 2020 <a href="#">Muzex</a> - All rights reserved.</p>
            <div class="side-menu__social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google-plus"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Template JS -->
    <script src="/static/base/assets/js/jquery.min.js"></script>
    <script src="/static/base/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/base/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/base/assets/js/bootstrap-select.min.js"></script>
    <script src="/static/base/assets/js/isotope.js"></script>
    <script src="/static/base/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/base/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/base/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/base/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/base/assets/js/jquery.validate.min.js"></script>
    <script src="/static/base/assets/js/owl.carousel.min.js"></script>
    <script src="/static/base/assets/js/TweenMax.min.js"></script>
    <script src="/static/base/assets/js/waypoints.min.js"></script>
    <script src="/static/base/assets/js/wow.min.js"></script>
    <script src="/static/base/assets/js/jquery.lettering.min.js"></script>
    <script src="/static/base/assets/js/jquery.circleType.js"></script>

    <!-- Custom Scripts -->
    <script src="/static/base/assets/js/theme.js"></script>







   
</body>

</html>