{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{img_bak.imagen.url}});">
    <div class="container">
        <h2>Boletines</h2>
    </div>
</section>
<section class="blog-one blog-grid-page padding_top_40">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    {% for item in boletines %}
                        <div class="col-md-6">
                            <div class="blog-one__single">
                                <div class="blog-one__image">
                                    <img src="{{item.imagen.url}}" alt="">
                                    <div class="blog-one__date">
                                        <i class="far fa-calendar-alt"></i>
                                        {{item.fecha}}
                                    </div>
                                </div>
                                <div class="blog-one__content">
                                    <ul class="blog-one__meta list-unstyled">
                                        <li><a href="{% url 'generales:detalle' item.slug %}">{{item.fuente}}</a></li>
                                        <li><a href="{% url 'generales:detalle' item.slug %}">{{item.autor}}</a></li>
                                    </ul>
                                    <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                                    <p>{{item.subtitulo}}</p>
                                    <a href="{% url 'generales:detalle' item.slug %}" class="blog-one__link">Leer M&aacute;s</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar__single">
                        <h3 class="sidebar__title">Categor&iacute;as</h3>
                        <ul class="list-unstyled sidebar__cat-list">
                            {% for item in categorias %}
                                <li><a href="{% url 'generales:seccion' item.id %}">{{item.nombre}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar__single">
                        <h3 class="sidebar__title">&Uacute;ltimas noticias</h3>
                        <div class="sidebar__post">
                            {% for item in noticias %}
                                <div class="sidebar__post-single">
                                    <div class="sidebar__post-image">
                                        <img src="{{item.imagen.url}}" alt="">
                                    </div>
                                    <div class="sidebar__post-content">
                                        <a class="sidebar__post-date" href="#">
                                            <i class="far fa-calendar-alt"></i>
                                            {{item.fecha}}
                                        </a>
                                        <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- /.sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% endblock contenido %}
