{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}

    <div class="hero-area">
        <div class="page-banner parallax" style="background-image:url('/static/base/born/images/backing_1280x400.jpg');">
            <div class="container">
                <div class="page-banner-text">
                    <h3 style="color: white;" class="block-title">{{detalle.titulo}}</h3>
                    <i class="far fa-calendar-alt"></i>&nbsp;{{detalle.fecha}}
                </div>
            </div>
        </div>
    </div>
    <div id="main-container">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 content-block">
                        <h2>{{detalle.subtitulo}}</h2>
                        <div class="post-media">
                            <img src="{{detalle.imagen.url}}" alt="">
                        </div>
                        <div class="spacer-20"></div>
                        <p>{{detalle.subtitulo}}</p>
                        <p>{{detalle.descripcion|safe}}</p>
                        <p>{{detalle.html|safe}}</p>
                        {% if detalle.pdf %}
                            <h6 style="color:rgb(206, 5, 162);">ARCHIVO ORIGINAL</h6>
                            <embed height="700px" width="100%"  name="plugin" src="{{detalle.pdf.url}}" type="application/pdf">
                        {% endif %}
                        <p class="blog-details__tags">
                            <span>Fuente: </span>{{detalle.fuente}}
                        </p>
                    </div>
                    
                    <!-- Sidebar -->
                    <div class="col-md-4 sidebar-block">
                        <div class="widget widget_recent_causes">
                            <h3 class="widgettitle">&Uacute;ltimas noticias</h3>
                            <ul>
                                 {% if noticias|length > 0 %}
                                    {% for item in noticias %}
                                        <li>
                                            <a href="{% url 'generales:detalle' item.slug %}" class="cause-thumb">
                                                <img src="{{item.imagen.url}}" alt="" class="img-thumbnail">
                                            </a>
                                            <h5><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h5>
                                            <span class="meta-data">{{ item.fecha}}</span>
                                        </li>
                                    {% endfor%}
                                {% endif %}
                            </ul>
                        </div>
                        <!--
                        <div class="widget sidebar-widget widget_categories">
                            <h3 class="widgettitle">Eventos</h3>
                            <ul>
                                <li><a href="#">Education</a> (3)</li>
                                <li><a href="#">Environment</a> (1)</li>
                                <li><a href="#">Global warming</a> (6)</li>
                                <li><a href="#">Water</a> (4)</li>
                                <li><a href="#">Wild life</a> (2)</li>
                                <li><a href="#">Small business</a> (12)</li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

