{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

<section class="page-header" style="background-image: url('/static/base/assets/images/multimedia2.jpg');">
    <div class="container block-title">
        <h2 style="font-family: static/base/assets/fonts/WOFF/VAR/SourceCodeVariable-Roman.otf.woff;">MULTIMEDIA</h2>
    </div>
</section>

<section class="blog-one blog-details-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details__main">
                    <div class="blog-details__image">
                        {% if tarea == 1 %}
                            <img src="{{detalle.imagen.url}}" class="img-fluid" alt="" alt="">
                        {% else %}
                            <p style="width: 100%;">{{detalle.html|safe}}</p>
                        {% endif %}
                    </div>
                    <h3>{{detalle.titulo}}</h3>
                    <br>
                    <p>{{detalle.descripcion|safe}}<br><span><i class="far fa-calendar-alt"></i>&nbsp;{{detalle.fecha|date:'d/m/y'}}</span></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    {% if noticias|length > 0 %}
                        <div class="sidebar__single">
                            <h3 class="sidebar__title">&Uacute;ltimas noticias</h3>
                            <div class="sidebar__post">
                                {% for item in noticias %}
                                    <div class="sidebar__post-single">
                                        <div class="sidebar__post-image">
                                            <img src="{{item.imagen.url}}" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <a class="sidebar__post-date" href="#">
                                                <i class="far fa-calendar-alt"></i>
                                                {{item.fecha}}
                                            </a>
                                            <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}

