{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}

<div class="hero-area">
    <div class="page-banner parallax" style="background-image:url('/static/base/born/images/backing_1280x400.jpg');">
        <div class="container">
            <div class="page-banner-text">
                <h1 class="block-title">Equipo SMT</h1>
            </div>
        </div>
    </div>
</div>

<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="team-one__single">
                        <div class="team-one__image">
                            <img src="{{concejero.imagen.url}}" height="400px;" alt="">
                            <div class="team-one__social">
                                <a href="{{concejero.fb}}" class="fab fa-facebook-f" target="_blank"></a>
                                <a href="{{concejero.tw}}" target="_blank"><img src="/static/base/assets/images/twitter-x-white.png" height="14px;"/></a>
                                <a href="{{concejero.ln}}" class="fab fa-linkedin-in" target="_blank"></a>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3>{{concejero.nombre}}</h3>
                            <p>{{concejero.cargo}}</p>
                        </div>
                        <p>{{concejero.perfil|safe}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for item in equipo %}
                    <div class="col-lg-4">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="{{item.imagen.url}}" alt="">
                            </div>
                            <div class="team-one__content">
                                <h3>{{item.nombre}}</h3>
                                <p>{{item.cargo}}</p>
                            </div>
                            <p>{{item.perfil|safe}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
