
<head>
    <meta charset="UTF-8">

    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMT</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/base/assets/images/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/base/assets/images/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/base/assets/images/favicon.png">
    <link rel="manifest" href="/static/base/assets/images/favicon/site.webmanifest">

    <!-- Fonts URL  https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
-->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/base/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/base/assets/css/animate.css">
    <link rel="stylesheet" href="/static/base/assets/css/hover-min.css">
    <link rel="stylesheet" href="/static/base/assets/css/muzex-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/base/assets/css/style.css">
    <link rel="stylesheet" href="/static/base/assets/css/responsive.css">


    <link href="/static/base/assets/fonts/source-code-variable.css" rel="stylesheet">
    <link href="/static/base/assets/fonts/source-code-pro.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
