{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

    <div class="hero-area">
        <div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
            <ul class="slides">
                {% for item in titulares %}
                    <li class="parallax" style="background-image: url('{{item.imagen.url}}')">
                        <div class="flex-caption">
                            <div class="container">
                                <div class="flex-caption-table">
                                    <div class="flex-caption-cell">
                                        <div class="flex-caption-text">
                                            <h2>{{item.titulo}}</h2>
                                            <p>{{item.subtitulo}}</p>
                                            <a href="{% url 'generales:detalle' item.slug %}" class="btn btn-primary">Ver m&Aacute;s</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="featured-links row">
        <a href="{% url 'dashboard:dashboard_page' %}" class="featured-link col-md-4 col-sm-4">
            <span>Guardianes de la Madre Tierra</span>
            <strong>Dashboard</strong>
        </a>
        <a href="{% url 'generales:mapas0' %}" class="featured-link col-md-4 col-sm-4">
            <span>Territorios que hablan</span>
            <strong>Atlas</strong>
        </a>
        <a href="{% url 'dashboard:certificado_buscar' %}" class="featured-link col-md-4 col-sm-4">
            <span>Camina con nosotros</span>
            <strong>Certificados</strong>
        </a>
    </div>

    <div id="main-container">
        <div class="content">
            <div class="lgray-bg padding-tb75">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                                <h2 class="block-title">Novedades</h2>
                                <div class="spacer-30"></div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <div class="spacer-10"></div>
                            <h1 id="slogan-muisca">_Cada familia cuenta, cada voz es futuro_</h1>
                        </div>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="row">
                            <ul class="owl-carousel carousel-fw" id="causes-slider" 
                                data-columns="4" data-autoplay="" data-pagination="no"
                                data-arrows="yes" data-single-item="no" 
                                data-items-desktop="4" data-items-desktop-small="3" 
                                data-items-tablet="2" data-items-mobile="1">

                                {% for item in carrusel %}
                                    <li class="item">
                                        <!-- Aquí agregamos el tooltip -->
                                        <div class="grid-item cause-grid-item small-business format-standard"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="{{ item.titulo }}">
                                            
                                            <div class="grid-item-inner">

                                                <div class="grid-item-content">
                                                    
                                                    <!-- Foto circular -->
                                                    <div class="categoria-circular">
                                                        <img src="{{ item.imagen.url }}" alt="">
                                                    </div>

                                                    <!-- Título corto -->
                                                    <h3 class="post-title">
                                                        <a href="{% url 'generales:detalle' item.id %}">
                                                            {{ item.titulo|slice:":67" }}{% if item.titulo|length > 67 %}...{% endif %}
                                                        </a>
                                                    </h3>

                                                </div>

                                                <a href="{% url 'generales:detalle' item.id %}" 
                                                class="btn btn-primary">
                                                Ver más
                                                </a>

                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <!--
            <div class="padding-tb75 position-relative">
                <div class="half-bg-right accent-bg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="block-title">Pr&oacute;ximos eventos</h2>
                            <div class="spacer-20"></div>
                                <ul class="events-compact-list">
                                    <li class="event-list-item">	
                                        <span class="event-date">
                                            <span class="date">14</span>
                                            <span class="month">Jan</span>
                                            <span class="year">2016</span>
                                        </span>
                                        <div class="event-list-cont">
                                            <span class="meta-data">Thursday, 11:20 AM</span>
                                            <h4 class="post-title"><a href="#">Summer Camp: Students Get Together</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit Cras sed nunc massa. Quisque tempor dolor sit amet tellus malesuada...</p>
                                        </div>
                                    </li>
                                    <li class="event-list-item">
                                        <span class="event-date">
                                            <span class="date">18</span>
                                            <span class="month">Jan</span>
                                            <span class="year">2016</span>
                                        </span>
                                        <div class="event-list-cont">
                                            <span class="meta-data">Monday, 07:00 PM</span>
                                            <h4 class="post-title"><a href="#">Fundraising for meals</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit Cras sed nunc massa. Quisque tempor dolor sit amet tellus malesuada...</p>
                                        </div>
                                    </li>
                                    <li class="event-list-item">
                                        <span class="event-date">
                                            <span class="date">26</span>
                                            <span class="month">Feb</span>
                                            <span class="year">2016</span>
                                        </span>
                                        <div class="event-list-cont">
                                            <span class="meta-data">Friday, 01:00 PM</span>
                                            <h4 class="post-title"><a href="#">Green Environment</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit Cras sed nunc massa. Quisque tempor dolor sit amet tellus malesuada...</p>
                                        </div>
                                    </li>
                                </ul>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="gallery-updates cols2 clearfix">
                                <ul>
                                    <li class="format-image grid-item">
                                        <a href="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" class="media-box magnific-image"> <img src="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" alt=""> </a>
                                    </li>
                                    <li class="format-gallery grid-item">
                                        <div class="media-box">
                                            <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="slide" data-pause="yes">
                                                <ul class="slides">
                                                    <li class="item"><a href="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" class="popup-image"><img src="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"><a href="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" class="popup-image"><img src="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="format-link grid-item">
                                        <a href="http://www.google.com" target="_blank" class="media-box"> <img src="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" alt=""> </a>
                                    </li>
                                    <li class="format-video grid-item">
                                        <a href="https://vimeo.com/47532705" class="media-box magnific-video"> <img src="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" alt=""> </a>
                                    </li>
                                    <li class="grid-item format-image">
                                        <a href="https://via.placeholder.com/800x533?text=IMAGE+PLACEHOLDER" class="media-box magnific-image"> <img src="https://via.placeholder.com/800x533?text=IMAGE+PLACEHOLDER" alt=""> </a>
                                    </li>
                                    <li class="grid-item format-image">
                                        <a href="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" class="media-box magnific-image"> <img src="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" alt=""> </a>
                                    </li>
                                </ul>
                                <div class="gallery-updates-overlay">
                                    <i class="icon-multiple-image"></i>Actualizaciones de nuestra galería
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        -->
            <div class="parallax parallax6 padding-tb100" 
     style="background-image:url('{% static "base/born/images/pic01.png" %}'); 
            background-size: cover; 
            background-position: center center;">
    <div class="container">
        <div class="parallax-text-block pull-right">
            <h3>Territorios que hablan: la voz de la Madre Tierra.</h3>

            <p>
                Desde las montañas, los ríos y la selva, los pueblos indígenas levantan su palabra 
                para proteger la vida. El Sistema de Monitoreo Territorial recoge los signos que 
                deja la Madre Tierra: cambios en el bosque, en el agua, en los caminos de los 
                animales y en la memoria de las comunidades. Cada dato es un relato, cada mapa 
                es una historia que defiende el territorio.
            </p>

            <p>
                Acompaña este proceso de vigilancia propia, autonomía y cuidado colectivo. 
                Fortalezcamos juntos las guardias, los saberes ancestrales y las herramientas 
                modernas que permiten que nuestros territorios sigan latiendo.
            </p>

            <a href="/nosotros" class="btn btn-primary">Conocer m&aacute;s</a>
        </div>
    </div>
</div>

            
            <div class="padding-tb75 padding-b0">
                <div class="container">
                    <div class="text-align-center">
                        <h2 class="block-title block-title-center">&Uacute;ltimas noticias</h2>
                    </div>
                </div>
                <div class="carousel-wrapper">
                    <div class="row">
                        <ul class="owl-carousel carousel-fw" id="stories-slider" data-columns="1" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="1" data-items-desktop-small="2" data-items-tablet="1" data-items-mobile="1">
                            {% for item in noticias %}
                                <li class="item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="https://via.placeholder.com/600x400?text=IMAGE+PLACEHOLDER" alt="" class="img-responsive">
                                            <a href="{% url 'generales:detalle' item.slug %}" class="media-box">
                                                <img src="{{ item.imagen.url }}" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-slider-content">
                                                <div class="story-slider-table">
                                                    <div class="story-slider-cell">
                                                        <blockquote>
                                                            <h3>{{ item.titulo}}</h3>
                                                            <p>{{ item.subtitulo }}</p>
                                                        </blockquote>
                                                        <a href="{% url 'generales:detalle' item.slug %}" class="btn btn-primary">Ver m&aacute;s</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div><br>
            <div class="parallax parallax5 parallax-light text-align-center padding-tb100" 
                style="background-image:url('/static/base/born/images/backing_1280x800.png'); padding-top:20px; padding-bottom:20px;">
                <div style="max-width:900px; margin:0 auto;">
                    <div class="embed-responsive embed-responsive-16by9"
                        <iframe width="560" height="315" src=">https://www.youtube-nocookie.com/embed/SM4_G0PfF7Y?si=S9TZbYxItwkQY5zp&amp;controls=0" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="codigoModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Verificar tu cuenta</h4>
                    <span>Ingresa el código enviado a tu correo</span>
                    <button type="button" class="close" data-dismiss="modal">
                        <span style="color:white;">&times;</span>
                    </button>
                </div>

                <form method="post" action="{% url 'generales:verificar_codigo' %}">
                    {% csrf_token %}

                    <input type="hidden" name="user_id" value="{{ user_id }}">

                    <div class="modal-body">

                        <div class="form-group">
                            <label>Código de activación:</label>
                            <input type="text" name="codigo" maxlength="6" class="form-control input-lg"
                                placeholder="Ej: 123456">
                        </div>

                        {% if error_codigo %}
                        <div class="alert alert-danger">
                            {{ error_codigo }}
                        </div>
                        {% endif %}

                        <p>
                            Si no recibiste el correo, revisa tu bandeja de spam o solicita reenviar código.
                        </p>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Validar código
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock contenido %}
