<!DOCTYPE html>
<html lang="en">

  {% include 'generales/header.html' %}

  <body class="off-canvas-sidebar">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
      <div class="container">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#pablo" style="color: gray">Pagina de ingreso</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item  active ">
              <a href="{% url 'generales:login' %}" class="nav-link" style="color: gray">
                <i class="fas fa-fingerprint"></i> Login
              </a>
            </li>
           <!-- <li class="nav-item ">
              <a href="{% url 'generales:loginunlock' %}" class="nav-link">
                <i class="material-icons">lock_open</i> Seguro
              </a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper wrapper-full-page">
      <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('/static/base/assets/images/login.jpg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
              
              <form class="form" method="POST" action="">
                {% csrf_token %}
                <div class="card card-login card-hidden">
                  <div class="card-header card-header-rose text-center" style="background-color: #f7ab05;">
                    <img src="/static/base/assets/images/logo-smt.png" width="140px" alt="IMG">
                    <h4 class="card-title" >Bienvenido!</h4>
                  </div>
                  <div class="card-body ">
                    <p class="card-description text-center" style="color: gray;">Login</p>
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-user"></i>
                          </span>
                        </div>
                        <input class="form-control" placeholder="Username" name="username" type="text" id="id_username">
                      </div>
                    </span>
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fab fa-centos"></i>
                          </span>
                        </div>
                        <input class="form-control" placeholder="Password" name="password" type="password" id="id_password">
                      </div>
                    </span>
                  </div>
                  <div class="card-footer justify-content-center">
                    <button type="submit" class="btn btn-secondary" style="color: back;">Aceptar</button>
                  </div>
                </div>
                <small class="text-danger">
                  {% if form.errors %}
                    {% for field in form %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                      {% for error in form.non_field_errors %}
                        {{ error|escape }}
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                </small>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer" style="background-color: rgb(23, 65, 51);">
      <div class="row justify-content-center" style="padding-top: 15px;">
          <div class="col-1 text-center"><span><a class="fab fa-facebook-f" style="color: #f7ab05;" href="https://www.facebook.com/SMTONIC/"></a></span></div>
          <div class="col-1 text-center"><span><a href="https://twitter.com/SMT_ONIC"><img src="/static/base/assets/images/twitter-x.png" height="14px;"/></a></span></div>
          <div class="col-1 text-center"><span><a class="fab fa-instagram" style="color: #f7ab05;" href="https://www.instagram.com/smt_onic/"></a></span></div>
      </div>
      <div class="">
          <div class="container">
            <br><br>
              <div class="row">
                  <div class="col-sm">
                      <div>
                          <h4 class="" style="color: #f7ab05;">Direcci&oacute;n</h4>
                          <p style="color: rgb(222, 221, 221);">Calle 12B # 4 - 38</p>
                          <p style="color: rgb(222, 221, 221);">Barrio La Candelaria</p>
                          <p style="color: rgb(222, 221, 221);">Bogot&aacute;, D. C., Colombia</p>
                          <p style="color: rgb(222, 221, 221);">111711</p>
                      </div>
                  </div>
                  <div class="col-sm">
                      <div>
                          <h4 class="" style="color: #f7ab05;">Tel&eacute;fonos</h4>
                          <p style="color: rgb(222, 221, 221);">(+57) 1 284 2168</p>
                          <p style="color: rgb(222, 221, 221);">(+57) 1 805 0774</p>
                          <p style="color: rgb(222, 221, 221);">(+57) 1 805 0772</p>
                      </div>
                  </div>
                  <div class="col-sm">
                      <div>
                          <h4 class="" style="color: #f7ab05;">Fax</h4>
                          <p style="color: rgb(222, 221, 221);">(+57) 1 284 3465</p>
                      </div>
                      <div>
                          <h4 class="" style="color: #f7ab05;">E-Mail</h4>
                          <p style="color: rgb(222, 221, 221);">poblacion@onic.org.co</p>
                      </div>
                  </div>
                  <div class="col-sm">
                      <div class="text-center">
                          <img src="/static/base/assets/images/LOGOS-01.png" alt="" class="logo-blanco" width="100%;">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="site-footer__bottom">
          <div class="container">
              <div class="inner-container" style="color: rgb(222, 221, 221);">
                  <p><span>&copy;&nbsp;<script>
                      document.write(new Date().getFullYear())
                      </script> ONIC</span>
                  </p>
                  <div class="site-footer__bottom-links">
                      <a href="#">T&eacute;rminos & condiciones</a>
                      <a href="#">Pol&iacute;tica de privacidad & T&eacute;rminos de uso</a>
                  </div>
              </div>
          </div>
      </div>
    </footer>
    <!--   Core JS Files   -->
    <!-- Template JS -->
    <script src="/static/base/assets/js/jquery.min.js"></script>
    <script src="/static/base/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/base/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/base/assets/js/bootstrap-select.min.js"></script>
    <script src="/static/base/assets/js/isotope.js"></script>
    <script src="/static/base/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/base/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/base/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/base/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/base/assets/js/jquery.validate.min.js"></script>
    <script src="/static/base/assets/js/owl.carousel.min.js"></script>
    <script src="/static/base/assets/js/TweenMax.min.js"></script>
    <script src="/static/base/assets/js/waypoints.min.js"></script>
    <script src="/static/base/assets/js/wow.min.js"></script>
    <script src="/static/base/assets/js/jquery.lettering.min.js"></script>
    <script src="/static/base/assets/js/jquery.circleType.js"></script>
   

    <!-- Custom Scripts -->
    <script src="/static/base/assets/js/theme.js"></script>

    <script>
      $(document).ready(function() {
        $().ready(function() {
          $sidebar = $('.sidebar');
  
          $sidebar_img_container = $sidebar.find('.sidebar-background');
  
          $full_page = $('.full-page');
  
          $sidebar_responsive = $('body > .navbar-collapse');
  
          window_width = $(window).width();
  
          fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
  
          if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
            if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
              $('.fixed-plugin .dropdown').addClass('open');
            }
  
          }
  
          $('.fixed-plugin a').click(function(event) {
            // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
            if ($(this).hasClass('switch-trigger')) {
              if (event.stopPropagation) {
                event.stopPropagation();
              } else if (window.event) {
                window.event.cancelBubble = true;
              }
            }
          });
  
          $('.fixed-plugin .active-color span').click(function() {
            $full_page_background = $('.full-page-background');
  
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
  
            var new_color = $(this).data('color');
  
            if ($sidebar.length != 0) {
              $sidebar.attr('data-color', new_color);
            }
  
            if ($full_page.length != 0) {
              $full_page.attr('filter-color', new_color);
            }
  
            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.attr('data-color', new_color);
            }
          });
  
          $('.fixed-plugin .background-color .badge').click(function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
  
            var new_color = $(this).data('background-color');
  
            if ($sidebar.length != 0) {
              $sidebar.attr('data-background-color', new_color);
            }
          });
  
          $('.fixed-plugin .img-holder').click(function() {
            $full_page_background = $('.full-page-background');
  
            $(this).parent('li').siblings().removeClass('active');
            $(this).parent('li').addClass('active');
  
  
            var new_image = $(this).find("img").attr('src');
  
            if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
              $sidebar_img_container.fadeOut('fast', function() {
                $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                $sidebar_img_container.fadeIn('fast');
              });
            }
  
            if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
              var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');
  
              $full_page_background.fadeOut('fast', function() {
                $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                $full_page_background.fadeIn('fast');
              });
            }
  
            if ($('.switch-sidebar-image input:checked').length == 0) {
              var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
              var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');
  
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            }
  
            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
            }
          });
  
          $('.switch-sidebar-image input').change(function() {
            $full_page_background = $('.full-page-background');
  
            $input = $(this);
  
            if ($input.is(':checked')) {
              if ($sidebar_img_container.length != 0) {
                $sidebar_img_container.fadeIn('fast');
                $sidebar.attr('data-image', '#');
              }
  
              if ($full_page_background.length != 0) {
                $full_page_background.fadeIn('fast');
                $full_page.attr('data-image', '#');
              }
  
              background_image = true;
            } else {
              if ($sidebar_img_container.length != 0) {
                $sidebar.removeAttr('data-image');
                $sidebar_img_container.fadeOut('fast');
              }
  
              if ($full_page_background.length != 0) {
                $full_page.removeAttr('data-image', '#');
                $full_page_background.fadeOut('fast');
              }
  
              background_image = false;
            }
          });
  
          $('.switch-sidebar-mini input').change(function() {
            $body = $('body');
  
            $input = $(this);
  
            if (md.misc.sidebar_mini_active == true) {
              $('body').removeClass('sidebar-mini');
              md.misc.sidebar_mini_active = false;
  
              $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();
  
            } else {
  
              $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');
  
              setTimeout(function() {
                $('body').addClass('sidebar-mini');
  
                md.misc.sidebar_mini_active = true;
              }, 300);
            }
  
            // we simulate the window Resize so the charts will get updated in realtime.
            var simulateWindowResize = setInterval(function() {
              window.dispatchEvent(new Event('resize'));
            }, 180);
  
            // we stop the simulation of Window Resize after the animations are completed
            setTimeout(function() {
              clearInterval(simulateWindowResize);
            }, 1000);
  
          });
        });
      });
    </script>
    <script>
      $(document).ready(function() {
        md.checkFullPageBackgroundImage();
        setTimeout(function() {
          // after 1000 ms we add the class animated to the login/register card
          $('.card').removeClass('card-hidden');
        }, 700);
      });
    </script>
  </body>
</html>