{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}


<section class="page-header" style="background-image: url('/static/base/assets/images/mapa.jpg');">
    <div class="container block-title">
        <h2 style="font-family: static/base/assets/fonts/WOFF/VAR/SourceCodeVariable-Roman.otf.woff;">Geo Espacial</h2>
    </div>
</section>

<section class="blog-one blog-details-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details__main">
                    <div class="blog-details__image">
                        <img src="{{mapas1.imagen.url}}" class="img-fluid" alt="">
                    </div>
                    <h3>{{mapas1.titulo}}</h3>
                    <i class="far fa-calendar-alt"></i>&nbsp;{{mapas1.fecha}}
                    <br>
                    <p>{{mapas1.subtitulo}}</p>
                    <br>
                    <p>{{mapas1.descripcion|safe}}</p>
                    <p>{{mapas1.html|safe}}</p>
                    {% if mapas1.pdf %}
                        <h6 style="color:rgb(206, 5, 162);">ARCHIVO ORIGINAL</h6>
                        <embed height="700px" width="100%"  name="plugin" src="{{mapas1.pdf.url}}" type="application/pdf">
                    {% endif %}
                    <p class="blog-details__tags">
                        <span>Fuente: </span>{{mapas1.fuente}}
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    {% if mapas|length > 0 %}
                        <div class="sidebar__single">
                            <h3 class="sidebar__title">M&aacute;s publicaciones</h3>
                            <div class="sidebar__post">
                                {% for item in mapas %}
                                    <div class="sidebar__post-single">
                                        <div class="sidebar__post-image">
                                            <img src="{{item.imagen.url}}" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <a class="sidebar__post-date" href="#">
                                                {{item.titulo}}<br>
                                                <i class="far fa-calendar-alt"></i>
                                                {{item.fecha}}
                                            </a>
                                            <h3><a href="{% url 'generales:mapas1' item.slug %}">{{item.titulo}}</a></h3>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <!--
                    <div class="sidebar__single">
                        <h3 class="sidebar__title">Otros temas</h3>
                        <div class="sidebar__tags">
                            {% for item in categorias %}
                                <a href="{% url 'generales:seccion' item.id %}">{{item.nombre}}</a>
                            {% endfor %}
                        </div>
                    </div>
                -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}

