{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}


<section class="page-header" style="background-image: url('/static/base/assets/images/mapa.jpg');">
    <div class="container">
        <h2>Mapas</h2>
    </div>
</section>

<section class="venue-one padding_top_0">
    <div class="container">
        <div class="row high-gutter">
            {% if mapas|length > 0 %}
                {% for item in mapas %}
                    <div class="col-lg-4">
                        <div class="venue-one__single">
                            <a href="{% url 'generales:public' item.id %}">
                                <div class="venue-one__image">
                                    <img src="{{item.imagen.url}}" alt="">
                                </div>
                            </a>
                            <div class="venue-one__content">
                                <h3><a href="{% url 'generales:public' item.id %}">{{item.tema}}</a></h3>
                                <p><span class="venue-one__time">{{item.fecha}}</span></p>
                                <a href="{% url 'generales:public' item.id %}" class="thm-btn venue-one__btn">Ver Mapas</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>


{% endblock contenido %}