{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}


    <div class="hero-area">
    	<div class="page-banner parallax" style="background-image:url('/static/base/born/images/backing_1280x400.jpg');">
        	<div class="container">
            	<div class="page-banner-text">
        			<h1 class="block-title">ATLAS - Territorios que hablan</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="main-container">
    	<div class="content">
        	<div class="container">
                <div class="row">
                    <ul class="sort-destination isotope gallery-items" data-sort-id="gallery">
                        {% if mapas|length > 0 %}
                            {% for item in mapas %}
                                <li class="col-md-3 col-sm-6 col-xs-6 grid-item gallery-grid-item images format-image">

                                    <a href="{% url 'generales:maps_gallery_group' item.id %}" class="map-box">

                                        <img src="/static/base/born/images/backing_600x400.png" alt="" class="map-img">

                                        <!-- Texto centrado -->
                                        <div class="map-text">
                                            <h4>{{ item.tema }}</h4>
                                            <small>{{ item.fecha|date:"d M Y" }}</small>
                                        </div>

                                    </a>

                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <nav>
                    <ul class="pagination pagination-lg">

                        {% if mapas.has_previous %}
                            <li>
                                <a href="?page={{ mapas.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#"><span>&laquo;</span></a>
                            </li>
                        {% endif %}

                        {% for num in mapas.paginator.page_range %}
                            {% if mapas.number == num %}
                                <li class="active"><a href="#">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if mapas.has_next %}
                            <li>
                                <a href="?page={{ mapas.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#"><span>&raquo;</span></a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

