{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}

<div class="hero-area">
    <div class="page-banner parallax" style="background-image:url('/static/base/born/images/backing_1280x400.jpg');">
        <div class="container">
            <div class="page-banner-text">
                <h1 class="block-title">{{mapas1.titulo}}</h1>
            </div>
        </div>
    </div>
</div>

<div id="main-container">
    <div class="content">
        <div class="container">
            <ul class="grid-holder isotope gallery-items" data-sort-id="gallery">
                <li class="col-md-3 col-sm-6 grid-item blog-grid-item format-standard">
                    <div class="grid-item-inner">
                        <a href="{% url 'generales:ver_mapa' item.slug %}" class="media-box">
                            {% if mapas1.imagen2 %}
                                <img src="{{mapas1.imagen2.url}}" class="img-fluid" alt="">
                            {% else %}
                                <img src="{{mapas1.imagen.url}}" class="img-fluid" alt="">
                            {% endif %}
                        </a>
                        <div class="grid-item-content">
                            <p>{{mapas1.descripcion|safe}}</p>
                            <p>{{mapas1.html|safe}}</p>
                            {% if mapas1.pdf %}
                                <h6 style="color:rgb(206, 5, 162);">ARCHIVO ORIGINAL</h6>
                                <embed height="700px" width="100%"  name="plugin" src="{{mapas1.pdf.url}}" type="application/pdf">
                            {% endif %}
                            <p class="blog-details__tags">
                                <span>Fuente: </span>{{mapas1.fuente}}
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
