{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{modulo.imagen.url}});">
    <div class="container">
        <h2>{{modulo.nombre}}</h2>
    </div>
</section>

<section class="event-details">
    <div class="container">
            <div class="event-details__top">
                <p>{{noticias.modificado}}</p>
                <h3>{{noticias.titulo}}</h3>
            </div>
            <div class="row high-gutter">
                <div class="col-lg-8">
                    <div class="event-details__main">
                        <div class="event-details__image">
                            <img src="{{noticias.imagen.url}}" alt="">
                        </div>
                        <div class="event-details__content">
                            <p>{{noticias.subtitulo}}</p>
                            <br>
                            <p>{{noticias.descripcion|safe}}</p>
                            <p>{{noticias.html|safe}}</p>
                            {% if noticias.pdf %}
                                <h4 style="color:rgb(206, 5, 162);">ARCHIVO ORIGINAL</h4>
                                <div class="divider divider-default"></div>
                                <embed height="700px" width="100%"  name="plugin" src="{{noticias.pdf.url}}"  type="application/pdf">
                                <p>&nbsp;</p>
                            {% endif %}
                            <p class="blog-details__tags">
                                <span>Fuente: </span>{{noticias.fuente}}</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="event-details__booking">
                        <ul class="event-details__booking-info list-unstyled">
                            {% for item in modulos2 %}
                                <li>
                                    <span style="color: rgb(110, 108, 108);"> {{forloop.counter}}</span>
                                    <a href="{% url 'generales:modulos' item.id %}" style="color: rgb(213, 213, 213);">{{item.nombre}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</section>

{% endblock contenido %}
