{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{subcategoria.imagen.url}});">
    <div class="container">
        <h2>Multimedia</h2>
    </div>
</section>
<section class="collection-grid collection-masonary">
    <div class="container">
        <div class="collection-grid__top">
            <div class="block-title text-left">
                <p>Galer&iacute;a</p>
                <h3>Explore <br> Nuestro Contenido</h3>
            </div>
            <ul class="collection-filter post-filter list-unstyled">
                <li data-filter=".filter-item" class="active"><span>Todo</span></li>
                <li data-filter=".pic"><span>Im&aacute;genes</span></li>
                <li data-filter=".dis"><span>V&iacute;deos</span></li>
                <li data-filter=".poster"><span>Podcastvi</span></li>
            </ul>
        </div>
        <div class="row high-gutter filter-layout masonary-layout">
            {% for item in catastro %}
                <div class="col-lg-4 col-md-6 filter-item masonary-item pic">
                    <div class="collection-grid__single">
                        <div class="collection-grid__image">
                            <img src="{{item.imagen.url}}" alt="">
                            <a href="{% url 'generales:detalle' item.slug %}" class="collection-grid__link">+</a>
                        </div>
                        <div class="collection-grid__content">
                            <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                            <p>{{item.fuente}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for item in censo %}
                <div class="col-lg-4 col-md-6 filter-item masonary-item dis">
                    <div class="collection-grid__single">
                        <div class="collection-grid__image">
                            <img src="{{item.imagen.url}}" alt="">
                            <a href="{% url 'generales:detalle' item.slug %}" class="collection-grid__link">+</a>
                        </div>
                        <div class="collection-grid__content">
                            <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                            <p>{{item.fuente}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for item in tiempo %}
                <div class="col-lg-4 col-md-6 filter-item masonary-item poster">
                    <div class="collection-grid__single">
                        <div class="collection-grid__image">
                            <img src="{{item.imagen.url}}" alt="">
                            <a href="{% url 'generales:detalle' item.slug %}" class="collection-grid__link">+</a>
                        </div>
                        <div class="collection-grid__content">
                            <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                            <p>{{item.fuente}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock contenido %}
