<script src="https://unpkg.com/wavesurfer.js@7"></script>

{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}
<style>
    .audio-player {
     width: 100%;
     max-width: 400px;
     margin: 0 auto;
     text-align: center;
 }
 
 .audio-player audio {
     display: inline-block;
     width: 100%;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 .audio-player audio::-webkit-media-controls-play-button {
     background-color: #ff7300;
     color: #fff;
     border-radius: 30%;
     width: 24px;
     height: 24px;
 }
 
 .audio-player audio::-webkit-media-controls-timeline {
     background-color: #f5f5f5;
 }
 
 .audio-player audio::-webkit-media-controls-current-time-display {
     color: #278312;
 }
 
 .audio-player audio::-webkit-media-controls-time-remaining-display {
     color: #f00000;
 }
 
 .audio-player audio::-webkit-media-controls-mute-button {
     display: none;
 }
 
 .audio-player audio::-webkit-media-controls-volume-slider {
     display: none;
 }
     .button {
             display: inline-flex;
             align-items: center;
             padding: 5px 10px;
             text-align: center;
             text-decoration: none;
             color: #000;
             background-color: #f2f2f2;
             border: 1px solid #000;
             border-radius: 4px;
             cursor: pointer;
         }
 
         .button:hover {
             background-color: #fdec05d4;
         }
 
         .icon {
             font-size: 18px;
             margin-right: 5px;
         }
 </style>
<section class="page-header" style="background-image: url('/static/base/assets/images/multimedia2.jpg');">
    <div class="container">
        <h2>Multimedia</h2>
    </div>
</section>
<section class="collection-grid collection-masonary">
    <div class="container">
        <div class="collection-grid__top">
            <div class="block-title text-left">
                <p>Galer&iacute;a</p>
                <h3>Explore <br> Nuestro Contenido</h3>
            </div>
            <ul class="collection-filter post-filter list-unstyled">
                <li data-filter=".filter-item" class="active"><span>Todo</span></li>
                <li data-filter=".pic"><span>Im&aacute;genes</span></li>
                <li data-filter=".dis"><span>V&iacute;deos</span></li>
                <li data-filter=".poster"><span>Podcast</span></li>
            </ul>
        </div>
        <div class="row high-gutter filter-layout masonary-layout">
            {% for item in imagenes %}
                <div class="col-lg-4 col-md-6 filter-item masonary-item pic">
                    <div class="collection-grid__single">
                        <div class="collection-grid__image">
                            <img src="{{item.imagen.url}}" alt="">
                            <a href="{% url 'generales:detalle_img' item.id %}" class="collection-grid__link">+</a>
                        </div>
                        <div class="collection-grid__content">
                            <h3><a href=".">{{item.titulo}}</a></h3>
                            <p>{{item.categoria_multimedia.nombre}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for item in videos %}
                <div class="col-lg-4 col-md-6 filter-item masonary-item dis">
                    <div class="collection-grid__single">
                        <div class="collection-grid__image">
                            {{item.html|safe}}
                            <a href="." class="collection-grid__link">+</a>
                        </div>
                        <div class="collection-grid__content">
                            <h3><a href=".">{{item.titulo}}</a></h3>
                            <p>{{item.categoria_multimedia.nombre}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-lg-8 col-md-6 filter-item masonary-item poster">
                <div class="col-md-2 audio-player">
                    <audio id="audio_play" src="" preload="auto" controls></audio>
                </div><br>
                <table id="tbl_lista" class="table table-bordered table-sm table-striped" cellspacing="0" style="width: 100%; ">
                    <tbody id="t_body">
                        {% for item in podcast %}
                            <tr>
                                <td>{{item.titulo}}</td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.categoria_multimedia.nombre}}</td>
                                <td class="td-actions text-center">
                                    <a href="javascript: play_audio('{{item.archivo_audio.url}}') ">
                                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript: stop_audio() ">
                                        <i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
//src="https://unpkg.com/wavesurfer.js@7"
    $(function () {
        $('#fecha').datetimepicker({
                format: 'DD/MM/YYYY'
            });
    });

    function play_audio(file){
        var file_audio = file;
        var audio = document.getElementById("audio_play");
        $("#audio_play").attr('src',file_audio);
        audio.play();
    }

    function stop_audio(){
        var audio = document.getElementById("audio_play");
        audio.pause();
    }

</script>

{% endblock contenido %}
