<script src="https://unpkg.com/wavesurfer.js@7"></script>

{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{subcategoria.imagen.url}});">
    <div class="container">
        <h2>Multimedia</h2>
    </div>
</section>
<section class="collection-grid collection-masonary">
    <div class="container">
        <div class="collection-grid__top">
            <div class="block-title text-left">
                <p>Galer&iacute;a</p>
                <h3>Explore <br> Nuestro Contenido</h3>
            </div>
            <ul class="collection-filter post-filter list-unstyled">
                <li data-filter=".filter-item" class="active"><span>Todo</span></li>
                <li data-filter=".pic"><span>Im&aacute;genes</span></li>
                <li data-filter=".dis"><span>V&iacute;deos</span></li>
                <li data-filter=".poster"><span>Podcast</span></li>
            </ul>
        </div>
        <div class="row high-gutter filter-layout masonary-layout">
            {% for item in catastro %}
                <div class="col-lg-4 col-md-6 filter-item masonary-item pic">
                    <div class="collection-grid__single">
                        <div class="collection-grid__image">
                            <img src="{{item.imagen.url}}" alt="">
                            <a href="{% url 'generales:detalle' item.slug %}" class="collection-grid__link">+</a>
                        </div>
                        <div class="collection-grid__content">
                            <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                            <p>{{item.fuente}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for item in censo %}
                <div class="col-lg-4 col-md-6 filter-item masonary-item dis">
                    <div class="collection-grid__single">
                        <div class="collection-grid__image">
                            <img src="{{item.imagen.url}}" alt="">
                            <a href="{% url 'generales:detalle' item.slug %}" class="collection-grid__link">+</a>
                        </div>
                        <div class="collection-grid__content">
                            <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                            <p>{{item.fuente}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-lg-4 col-md-6 filter-item masonary-item poster">
                {% for item in podcast %}
                    {{item.titulo}}-<div id="id_audio{{forloop.counter}}">{{item.archivo_audio.url}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script>
    //var audio_file = document.getElementById('id_audio').value;
    const audio = new Audio()
    audio.controls = true
    audio.src = audio
    document.body.appendChild(audio)
    const wavesurfer = WaveSurfer.create({
        container: document.body,
        waveColor: 'rgb(200, 0, 200)',
        progressColor: 'rgb(100, 0, 100)',
        media: '/static/base/audio/media/audio/3/main/Marcozannone - Discovery.mp3', // <- this is the important part
    })
   
    wavesurfer.on('click', () => {
        wavesurfer.play()
    })
</script>

{% endblock contenido %}
