{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url('/static/base/assets/images/F3.jpg');">
    <div class="container">
        <h2>SMT - ONIC</h2>
    </div>
</section>

<section class="about-four padding_top_40">
    <div class="container">
        <!--<div class="about-four__image wow fadeInRight" data-wow-duration="1500ms">
            <img src="/static/base/assets/images/backgrounds/fondo.png" alt="">
        </div>-->
        <div class="row">
            <div class="col-lg-10">
                <div class="history-one__content my-auto">
                    <div>{{nosotros.descripcion|safe}}</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="history-one">
    <div class="container">
        <div class="history-one__single">
            <div class="row">
                <div class="col-lg-6">
                    <br>
                    <div class="justify-content-center text-center">
                        <img src="{{nosotros.imagen_vision.url}}" height="450px;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="history-one__content my-auto">
                        <!--<div class="history-one__top block-title">
                            <p>SMT</p>
                        </div>-->
                        <p>{{nosotros.vision|safe}}</p>
                    </div>
                </div>
            </div>
        </div><!--
        <div class="history-one__single">
            <div class="row">
                <div class="col-lg-6">
                    <div class="history-one__image wow fadeInRight" data-wow-duration="1500ms">
                        <img src="{{nosotros.imagen_jus.url}}" height="500px;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="history-one__content my-auto">
                        <p>{{nosotros.justificacion|safe}}</p>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="history-one__single">
            <div class="row">
                <div class="col-lg-6">
                    <div class="justify-content-center text-center" data-wow-duration="1500ms">
                        <img src="{{nosotros.imagen_obj.url}}" height="450px;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="history-one__content my-auto">
                        <p>{{nosotros.objetivos|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="history-one__single">
            <div class="row">
                <div class="col-lg-6">
                    <div class="history-one__image wow fadeInRight" data-wow-duration="1500ms">
                        <img src="{{nosotros.imagen_users.url}}" height="500px;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="history-one__content my-auto">
                        <p>{{nosotros.usuarios|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}
