{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}


{#    <section class="page-header" style="background-image: url({{ img_bak.imagen.url }});">#}
{#        <div class="container">#}
{#            <h2>Pol&iacute;tica de privacidad & T&eacute;rminos de uso</h2>#}
{#        </div>#}
{#    </section>#}

    <section class="venue-one padding_top_0">
        <div class="container">
            <div class="row high-gutter">
                <div class="container my-4">
                    <h2 class="text-center mb-4">Pol&iacute;tica de privacidad & T&eacute;rminos de uso</h2>

                    <p>Bienvenido a SMT, la aplicación móvil de recolección de encuestas con información geográfica,
                        propiedad de SMT-ONIC. Antes de utilizar nuestra aplicación, por favor lee detenidamente los
                        siguientes términos y condiciones. Al utilizar nuestra aplicación, aceptas estos términos y
                        condiciones en su totalidad. Si no estás de acuerdo con alguno de estos términos, por favor no
                        utilices nuestra aplicación.</p>

                    <h4>1. Uso de la Aplicación</h4>
                    <ul>
                        <li>La aplicación móvil SMT es propiedad de SMT-ONIC y está destinada a permitir a los usuarios
                            crear, administrar y recolectar encuestas que incluyen información geográfica.
                        </li>
                        <li>Al utilizar la aplicación SMT, aceptas no utilizarla para ningún propósito ilegal o no
                            autorizado.
                        </li>
                        <li>Nos reservamos el derecho de modificar o suspender cualquier parte de la aplicación SMT en
                            cualquier momento y sin previo aviso.
                        </li>
                    </ul>

                    <h4>2. Privacidad y Protección de Datos</h4>
                    <ul>
                        <li>Nos comprometemos a proteger tu privacidad y los datos recopilados a través de la aplicación
                            SMT. Consulta nuestra <b>Política de Privacidad</b> para obtener más información
                            sobre cómo recopilamos, utilizamos y protegemos tus datos personales.
                        </li>
                        <li>Al utilizar la aplicación SMT, aceptas que podemos recopilar y utilizar información
                            geográfica con el propósito de mejorar nuestros servicios y proporcionarte una experiencia
                            personalizada.
                        </li>
                    </ul>

                    <h4>3. Seguridad de la Información</h4>
                    <ul>
                        <li>Nos esforzamos por mantener la seguridad de la información recopilada a través de la
                            aplicación SMT. Sin embargo, no podemos garantizar la seguridad absoluta de los datos
                            transmitidos a través de Internet.
                        </li>
                        <li>Tú eres responsable de mantener la confidencialidad de tu cuenta y contraseña de SMT, y
                            aceptas notificarnos de inmediato cualquier uso no autorizado de tu cuenta.
                        </li>
                    </ul>

                    <h4>4. Propiedad Intelectual</h4>
                    <ul>
                        <li>SMT-ONIC retiene todos los derechos de propiedad intelectual sobre la aplicación SMT y su
                            contenido, incluyendo, pero no limitado a, textos, gráficos, logotipos, imágenes y software.
                        </li>
                        <li>No puedes reproducir, distribuir, modificar, transmitir, exhibir ni utilizar de ninguna
                            manera el contenido de la aplicación SMT sin el consentimiento previo por escrito de
                            SMT-ONIC.
                        </li>
                    </ul>

                    <h4>5. Limitación de Responsabilidad</h4>
                    <ul>
                        <li>SMT-ONIC no será responsable de ningún daño directo, indirecto, incidental, especial o
                            consecuente que surja del uso o la imposibilidad de utilizar la aplicación SMT.
                        </li>
                        <li>SMT-ONIC no garantiza la exactitud, integridad o actualidad de la información proporcionada
                            a través de la aplicación SMT.
                        </li>
                    </ul>

                    <h4>6. Cambios en los Términos y Condiciones</h4>
                    <ul>
                        <li>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento y
                            sin previo aviso. Cualquier cambio será efectivo inmediatamente después de su publicación en
                            la aplicación SMT.
                        </li>
                        <li>El uso continuado de la aplicación SMT después de la publicación de cualquier cambio
                            constituirá tu aceptación de dichos cambios.
                        </li>
                    </ul>

                    <p>Al utilizar la aplicación SMT, aceptas estar legalmente vinculado por estos términos y
                        condiciones. Si tienes alguna pregunta o inquietud sobre estos términos y condiciones,
                        contáctanos en <a href="mailto:contacto@smt-onic.com">contacto@smt-onic.com</a>.</p>
                </div>
            </div>
        </div>
    </section>


{% endblock contenido %}