{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}
    
    <div class="hero-area">
    	<div class="page-banner parallax" style="background-image:url(https://via.placeholder.com/1280x400?text=IMAGE+PLACEHOLDER);">
        	<div class="container">
            	<div class="page-banner-text">
        			<h1 class="block-title">Nuestras causas  {{ project.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-8 content-block">
                    	<h3>Help rebuild Nepal</h3>
                    	<div class="post-media">
                        	<img src="https://via.placeholder.com/900x600?text=IMAGE+PLACEHOLDER" alt="">
                        </div>
                        <span class="label label-default">Cause progress</span>
                        <div class="progress">
                            <div style="width: 88%;" class="progress-bar progress-bar-primary" data-appear-progress-animation="88%" data-appear-animation-delay="100"> <span class="progress-bar-tooltip">88%</span> </div>
                        </div>
                       	<div class="pull-left">Raised <strong>$176000</strong></div>
                       	<div class="pull-right">Goal <strong class="accent-color">$200000</strong></div>
                        <div class="spacer-20"></div>
                        <div class="row">
                        	<div class="col-md-5 col-sm-5">
                        		<p class="lead">Nepal has been seriously devastated by the recent earthquake. Over 8,000 people have died (with death toll rising), thousands more are injured, and countless more have been displaced. Many homes, temples, and public monuments have been destroyed throughout the affected areas.</p>
                      		</div>
                            {% if project.url_video %}
                                <iframe
                                        src="{{ project.get_embed_url_video }}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                                        class="youtube-ifrmae"
                                >
                                </iframe>
                            {% else %}
                                <img src="{{ project.thumbnail_image.url }}" alt="{{ project.name }}" class="img-project-detail" />
                            {% endif %}
                            <div class="col-md-7 col-sm-7">
                                <ul class="list-group">
                          			<li class="list-group-item">Total Donors<span class="badge">2000</span></li>
                          			<li class="list-group-item">Days left to fundraising<span class="badge">10</span></li>
                          			<li class="list-group-item">Countries helping<span class="badge">130</span></li>
                          		</ul>
                               	<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#DonateModal">Donate Now</a>
                            </div>
                        </div>
                        <div class="iframe-container vaki-container-detail">
                            <iframe
                                    id="{{ project.id }}"
                                    title="{{ project.name }}"
                                    src="{{ project.iframe_url }}"
                                    class="vaki-iframe"
                                    scrolling="no"
                            >
                            </iframe>
                        </div>
                        <br/>
                        <div class="d-flex justify-content-center mt-3">
                            <a target="_blank" href="{{ project.payment_gateway_url }}" class="btn btn-success w-50 donate-bnt">
                                DONAR
                            </a>
                        </div>
                        <div class="tpcard__content donation-details">
                            <br/>
                            <h3>{{ project.name }}</h3>
                        </div>
                    </div>
                    <div class="col-md-4 sidebar-block">
                    	<div class="widget events-calendar-widget">
                          	<h3 class="widgettitle">Pr&oacute;ximos eventos</h3>
                            <div class="events-calendar-widget-body">
                                <ul class="events-compact-list">
                                	<li class="event-list-item">	
                                    	<span class="event-date">
                                        	<span class="date">14</span>
                                            <span class="month">Jan</span>
                                            <span class="year">2016</span>
                                        </span>
                                        <div class="event-list-cont">
                                            <span class="meta-data">Thursday, 11:20 AM</span>
                                        	<h4 class="post-title"><a href="#">Summer Camp: Students Get Together</a></h4>
                                        </div>
                                    </li>
                                	<li class="event-list-item">
                                    	<span class="event-date">
                                        	<span class="date">18</span>
                                            <span class="month">Jan</span>
                                            <span class="year">2016</span>
                                        </span>
                                        <div class="event-list-cont">
                                            <span class="meta-data">Monday, 07:00 PM</span>
                                        	<h4 class="post-title"><a href="#">Fundraising for meals</a></h4>
                                        </div>
                                    </li>
                                	<li class="event-list-item">
                                    	<span class="event-date">
                                        	<span class="date">26</span>
                                            <span class="month">Feb</span>
                                            <span class="year">2016</span>
                                        </span>
                                        <div class="event-list-cont">
                                            <span class="meta-data">Friday, 01:00 PM</span>
                                        	<h4 class="post-title"><a href="#">Green Environment</a></h4>
                                        </div>
                                    </li>
                                </ul>
                           	</div>
                        </div>
                        <div class="widget recent_posts">
                        	<h3 class="widgettitle">Otras causas</h3>
                            <ul>
                                 {% for item in projects %}
                                    <li>
                                        <a href="{% url 'generales:project_detail' item.slug %}" class="media-box">
                                            <img src="{{ item.thumbnail_image_small.url }}" alt="{{ item.name }}">
                                        </a>
                                        <h5>
                                            <a href="{% url 'generales:project_detail' item.slug %}">
                                                {{ item.name }}
                                            </a>
                                        </h5>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget recent_posts">
                          	<h3 class="widgettitle">&Uacute;ltimas noticias</h3>
                            <ul>
                                 {% for n in latest_news %}
                                    <li>
                                        <a href="{% url 'generales:detalle' n.slug %}" class="media-box">
                                            <img src="{{ n.imagen.url }}" alt="{{ n.titulo }}">
                                        </a>

                                        <h5>
                                            <a href="{% url 'generales:detalle' n.slug %}">
                                                {{ n.titulo }}
                                            </a>
                                        </h5>

                                        <span class="meta-data grid-item-meta">
                                            Publicado el {{ n.fecha|date:"d M, Y" }}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card-item">
                    <div class="tpcard__wrapper donation-details">
                        <div class="tpcard__thumb donation-details"
                             style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                            {% if project.url_video %}
                                <iframe
                                        src="{{ project.get_embed_url_video }}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                                        class="youtube-ifrmae"
                                >
                                </iframe>
                            {% else %}
                                <img src="{{ project.thumbnail_image.url }}" alt="{{ project.name }}" class="img-project-detail" />
                            {% endif %}
                        </div>
                        <div class="iframe-container vaki-container-detail">
                            <iframe
                                    id="{{ project.id }}"
                                    title="{{ project.name }}"
                                    src="{{ project.iframe_url }}"
                                    class="vaki-iframe"
                                    scrolling="no"
                            >
                            </iframe>
                        </div>
                        <br/>
                        <div class="d-flex justify-content-center mt-3">
                            <a target="_blank" href="{{ project.payment_gateway_url }}" class="btn btn-success w-50 donate-bnt">
                                DONAR
                            </a>
                        </div>
                        <div class="tpcard__content donation-details">
                            <br/>
                            <h3>{{ project.name }}</h3>
                        </div>
                    </div>
                </div>
                {% if project.pdf %}
                    <embed height="700px" width="100%" name="plugin" src="{{ project.pdf.url }}" type="application/pdf">
                {% endif %}
                <div class="blog-details__main">
{#                    <i class="far fa-calendar-alt"></i>&nbsp;{{ project.create }}#}
                    <br>
                    <div>{{ project.description|safe }}</div>
                    <br>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar__single">
                        <a href="{% url 'generales:project_list' %}?category={{ request.GET.category }}">
                            <h3 class="sidebar__title">Proyectos</h3>
                        </a>
                        <div class="sidebar__post">
                            {% for item in projects %}
                                <div class="sidebar__post-single">
                                    <div class="sidebar__post-image">
                                        <img src="{{ item.thumbnail_image_small.url }}" alt="">
                                    </div>
                                    <div class="sidebar__post-content">
                                        <h3>
                                            <a href="{% url 'generales:project_detail' item.slug %}?category={{ request.GET.category }}">{{ item.name }}</a>
                                        </h3>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>