{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

    <section class="page-header" style="background-image: url({{ img_bak.imagen.url }});">
        <div class="container">
            <h4 style="color: rgb(206, 204, 204);">{{ img_bak.nombre }}</h4>
            <h3 style="color: white;">{{ tit }}</h3>
        </div>
    </section>
    <section class="event-three padding_top_40">
        <div class="container">
            <div class="row">
                {% for item in publicaciones %}
                    <div class="col-lg-6">
                        <div class="event-three__single gallery_img">
                            <div class="event-three__image text-center"
                                 style="background-color: white; width: auto; height: 700px; border: 2px solid #80808029;">
                                <a href="{% url 'generales:detalle' item.slug %}" class="blog-one__link">
                                    <img src="{{ item.imagen.url }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="event-three__content padding_bottom_0">
                            <h3>{{ item.titulo }}</h3>
                            <p>{{ item.subtitulo }}</p>
                            <p>{{ item.fecha }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock contenido %}
