{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{cat_p.imagen.url}});">
    <div class="container">
        <h2>{{cat_p.nombre}}</h2>
    </div>
</section>

<section class="collection-grid">
    <div class="container">
        <div class="collection-grid__top">
            <div class="block-title-two text-center">
                <p>{{cat_p.nombre}}</p>
                <h3>{{subcategoria.nombre}}</h3>
            </div>
        </div>
        <div class="row high-gutter filter-layout">
            {% for item in publicaciones %}
                <div class="col-lg-4 col-md-6 filter-item {{item.subcategoria.id}}">
                    <div class="collection-grid__single">
                        <div class="collection-grid__image">
                            <img src="{{item.imagen.url}}" alt="">
                            <a href="{% url 'generales:detalle' item.slug %}" class="collection-grid__link">+</a>
                        </div>
                        <div class="collection-grid__content">
                            <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                            <p>{{item.fuente}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock contenido %}
