{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{seccion.imagen.url}});">
    <div class="container block-title">
        <h2>{{seccion.nombre}}</h2>
    </div>
</section>

<section class="event-one event-one__event-page-2">
    <div class="container">
        <div class="row">
            {% if noticias|length > 0 %}
                {% for noticias in noticias %}
                    <div class="col-lg-12">
                        <div class="event-one__single">
                            <div class="event-one__image">
                                <div class="event-one__date">
                                    <span>{{noticias.fecha}}</span>
                                </div>
                                <div class="event-one__image-box">
                                    <div class="event-one__image-inner">
                                        <img src="{{noticias.imagen.url}}" height="80px;" alt="">
                                    </div>z
                                </div>
                            </div>
                            <div class="event-one__content">
                                <h3><a href="">{{noticias.titulo}}</a></h3>
                                <p>{{noticias.subtitulo}}</p>
                            </div>
                            <div class="event-one__btn-block">
                                <a href="{% url 'generales:detalle' noticias.slug %}" class="thm-btn event-one__btn">Leer M&aacute;s</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock contenido %}
