{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{seccion.imagen.url}});">
    <div class="container block-title">
        <h2>{{seccion.nombre}}</h2>
    </div>
</section>

<section class="blog-one">
    <div class="container">
        <div class="blog-one__top">
            <div class="block-title">
                <p>Mediateca</p>
                <h3>SMT en los territorios</h3>
            </div>
            <div class="more-post__block">
                <a class="more-post__link" href="{% url 'generales:seccion' 15 %}">
                    Ver Todo
                    <span class="curved-circle">ver m&aacute;s &nbsp;&emsp;ver m&aacute;s &nbsp;&emsp;ver m&aacute;s ver m&aacute;s</span>
                </a>
            </div>
        </div>
        <div class="row">
            {% for item in mediateca %}
                <div class="col-lg-4">
                    <div class="blog-one__single">
                        <div class="blog-one__image">
                            <img src="{{item.imagen.url}}" alt="">
                            <div class="blog-one__date">
                                <i class="far fa-calendar-alt"></i>
                                {{item.fecha|date:'d/m/Y'}}
                            </div>
                        </div>
                        <div class="blog-one__content">
                            <ul class="blog-one__meta list-unstyled">
                                <li><a href="{% url 'generales:detalle' item.slug %}">Por {{item.autor}}</a></li>
                            </ul>
                            <h3><a href="{% url 'generales:detalle' item.slug %}">{{item.titulo}}</a></h3>
                            <p>{{item.subtitulo}}</p>
                            <a href="{% url 'generales:detalle' item.slug %}" class="blog-one__link">Ver M&aacute;s</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="event-one event-one__event-page-2">
    <div class="container">
        <div class="row">
            {% if noticias|length > 0 %}
                {% for noticias in noticias %}
                    <div class="col-lg-12">
                        <div class="event-one__single">
                            <div class="event-one__image">
                                <div class="event-one__date">
                                    <span>{{noticias.fecha}}</span>
                                </div>
                                <div class="event-one__image-box">
                                    <div class="event-one__image-inner">
                                        <img src="{{noticias.imagen.url}}" height="80px;" alt="">
                                    </div>z
                                </div>
                            </div>
                            <div class="event-one__content">
                                <h3><a href="">{{noticias.titulo}}</a></h3>
                                <p>{{noticias.subtitulo}}</p>
                            </div>
                            <div class="event-one__btn-block">
                                <a href="{% url 'generales:detalle' noticias.slug %}" class="thm-btn event-one__btn">Leer M&aacute;s</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<!--


<section class="page-header" style="background-image: url({{seccion.imagen.url}});">
    <div class="container">
        <h2>{{seccion.nombre}}</h2>
    </div>
</section>

<section class="collection-grid collection-masonary">
    <div class="container">
        <div class="collection-grid__top">
            <div class="block-title text-left">
                <p>Galer&iacute;a</p>
                <h3>Explore el contenido</h3>
            </div>

            <ul class="collection-filter post-filter list-unstyled">
                <li data-filter=".filter-item" class="active"><span>Todo</span></li>
                {% for sub in sub %}
                    <li data-filter="{{sub.nombre}}"><span>{{sub.nombre}}</span></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row high-gutter filter-layout masonary-layout">
            {% if noticias|length > 0 %}
                {% for noticias in noticias %}
                    <div class="col-lg-4 col-md-6 filter-item masonary-item sub.nombre">
                        <div class="collection-grid__single">
                            <div class="collection-grid__image">
                                <img src="{{noticias.imagen.url}}" alt="">
                                <a href="{% url 'generales:detalle' noticias.slug %}" class="collection-grid__link">+</a>
                            </div>
                            <div class="collection-grid__content">
                                <h3><a href="{% url 'generales:detalle' noticias.slug %}">{{noticias.titulo}}</a></h3>
                                <p>{{noticias.fuente}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
-->
{% endblock contenido %}
