{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{nosotros.imagen.url}});">
    <div class="container">
        <h2>{{mapas1.titulo}}</h2>
    </div>
</section>

<section class="team-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="team-one__single">
                    <div class="team-one__image">
                        <img src="{{mapas1.imagen.url}}" height="700px;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}
