{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="page-header" style="background-image: url({{nosotros.imagen.url}});">
    <div class="container">
        <h2>{{mapas1.titulo}}</h2>
    </div>
</section>

<section class="team-one">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="team-one__single">
                    <div class="team-one__image">
                        <img src="{{mapas1.imagen.url}}"  alt="">
                    </div>
                    <a src="{{mapas1.imagen.url}}"  download class="thm-btn venue-one__btn">Descargar</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}
