{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #1a4133 !important">

    <a class="navbar-brand" href=".">
        <img src="src/img/smt.png" alt="" style="width: 80px; height: 45px;" />
        <!-- Geovisor SMT -->
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn">
                    <i class="fa fa-question-circle white"></i>&nbsp;&nbsp;Información </a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="toolsDrop" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-wrench white"></i>&nbsp;&nbsp;Herramientas</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="toolsDrop">
                    <a href="#" id="queryWidget-btn" class="dropdown-item mapTools" data-tool="queryWidget">
                        <i class="fa fa-filter"></i>&nbsp;&nbsp;Filtros
                    </a>
                    <a href="#" id="coordinates-btn" class="dropdown-item mapTools" data-tool="coordinates">
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Marcar Coordenadas
                    </a>
                </div>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="basemapDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-globe white"></i>&nbsp;&nbsp;Mapa Base
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="ulBasemap">

                </div>
            </li>
        </ul>
    </div>
</nav>

<div id="container">
    <div id="sidebar" class="hidden-xs hidden-sm">
        <div class="sidebar-wrapper">
            <div class="card" id="pnlSidebar" style="padding-top: 10px;">
                <div class="card-header">
                    <h5 class="card-title"><span id="sidebarTitle"></span>
                        <!-- <button type="button" class="btn btn-xs btn-default pull-right" id="sidebar-hide-btn">
                            <i class="fa fa-chevron-left"></i>
                        </button> -->
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="sidebarContents" class="col-xs-12 col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map">
        <button id="refreshButton">
        </button>
    </div>
</div>

<div id="queryTableResults">
    <div id="queryResults" class="dataTables_wrapper"></div>
</div>        

<div id="loader">
    <img src="src/img/throbber2.gif" style="width: 25px; height: 25px;" alt="">
</div>        

<div id="loading">
    <div class="loading-indicator">
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info progress-bar-full"></div>
        </div>
    </div>
</div>

<div id="authenticationError">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="alert alert-danger" role="alert">
                <h4>Hubo un problema autenticando una o mas capas con ArcGIS. Por favor cargue nuevamente la pagina e intentelo nuevamente.</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acceder a ArcGIS</h5>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                  <label for="username" class="sr-only">Email</label>
                  <input type="text" id="username" class="form-control" placeholder="ArcGIS username" required="" autofocus="">
                  <label for="password" class="sr-only">Contraseña</label>
                  <input type="password" id="password" class="form-control" placeholder="Password" required="">

                  <button id="btnArcGISOnline" class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                 <h5 id="aboutTitle" class="modal-title">Acerca de este mapa</h5>
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="aboutContents" class="modal-body">
                <p>{Información acerca de este mapa}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Compartir URL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <span id="shareURL"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- handlebars templates -->
<script id="query-template" type="text/x-handlebars-template">
    <div id="frmQueryWidget" class="well well-sm" style="background-color:#f7f7f7; border:1px solid rgba(0,0,0,.125); padding: 15px">
        <div class="form-group">
            <label for="queryWidgetLayer">Capa</label>
            <select id="queryWidgetLayer" class="form-control">
                {{#each this}}
                <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
            </select>
            <label for="queryWidgetField" style="padding-top: 10px">Atributo (Campo)</label>
            <select id="queryWidgetField" class="form-control">
            </select>
            <label for="queryWidgetOperator" style="padding-top: 10px">Operador</label>
            <select id="queryWidgetOperator" class="form-control">
            </select>
            <label for="queryWidgetValue" style="padding-top: 10px">Criterio de búsqueda</label>
            <input id="queryWidgetValue" type="text" class="form-control queryTask" placeholder="">
            <div id="btnRunQuery" class="btn btn-warning" style="color: #ffffff; background-color: #1a4133; border-color:#1a4133">Filtrar Capa</div>
            <div id="btnReturnLayer" class="btn btn-secondary">Restablecer Capa</div>
            <div class="checkbox" id="chkQueryExtent" style="padding-top: 10px">
                <label>
                    <input type="checkbox" id="chkQueryWithinMapExtent"> En la extensión actual del mapa
                </label>
            </div>
            <div class="checkbox" id="chkQueryPolygon">
                <label>
                    <input type="checkbox" id="chkQueryWithinPolygon"> En un polígono
                </label>
                <div id="drawQueryWidget">
                    <span id="queryDrawControl"></span>
                    <span id="queryDrawControlHelp" class="info"> &larr; Active la herramienta de polígono y luego dibuje el área en el mapa.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="queryResults" class="dataTables_wrapper"></div> -->
</script>

<script id="filter-widget-template" type="text/x-handlebars-template">
    <div id="frmFilterWidget" class="well well-sm" style="background-color:#f7f7f7; border:1px solid rgba(0,0,0,.125); padding: 15px">
        <div class="form-group">
            <label for="filterWidgetLayer">Capa</label>
            <select id="filterWidgetLayer" class="form-control">
                {{#each this}}
                <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div id="filterSection">
        </div>
        
        <button id="btnRemoveFilter" class="btn btn-secondary">Borrar filtro</button>
        <button id="btnApplyFilter" class="btn btn-warning" style="color: #ffffff; background-color: #1a4133; border-color:#1a4133">Aplicar filtro</button>
        <p class="btn-secondary" id="filterOutput"><span id="filterText"></span></p>
    </div>
</script>

<script id="filter-template" type="text/x-handlebars-template">
    <div class="form-group">
        <label for="filterWidgetField">Atributo</label>
        <select id="filterWidgetField" class="form-control">
        </select>
        <label for="filterWidgetOperator" style="padding-top: 10px">Operador</label>
        <select id="filterWidgetOperator" class="form-control">
        </select>
        <label for="filterWidgetValue" style="padding-top: 10px">Valor a filtrar</label>
        <input id="filterWidgetValue" type="text" class="form-control filterTask" placeholder="">
    </div>
</script>

<!-- required libraries -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
        integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
<script src="https://unpkg.com/esri-leaflet-renderers@2.1.2/dist/esri-leaflet-renderers.js"
    integrity="sha512-/McnqdlwYvfeOEWqoniEagFRQnLi/TNbkHe4EJypmZI02LBT7vBU/+PZ5W3FSsFFlRbnMCsJvnbp5MX8XOBrnQ=="
    crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<!-- Plugins. Comment out any unused libaries to improve the page load times -->
<script src="/static/base/visor/src/plugins/bing/leaflet-bing-layer.min.js"></script>
<script src="/static/base/visor/src/plugins/geocoders/Control.Geocoder.js"></script>
<script src="/static/base/visor/src/plugins/geocoders/Control.Geocoder.harmony.js"></script>
<!-- <script src="/static/base/visor/src/plugins/leaflet-history/leaflet-history.js"></script> -->
<script src="/static/base/visor/src/plugins/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
<script src="https://unpkg.com/esri-leaflet-cluster@2.1.0/dist/esri-leaflet-cluster.js"
    integrity="sha512-fEdNFHisleVtEYdLhW4Z2RsR7TN6hLutE/+O4D+skfTNY2rlHm8HOZARPWkdrFFy/+i2KjFxcZAKTUWaVfbV0g=="
    crossorigin=""></script>
<!-- <script src="/static/base/visor/src/plugins/bookmarks/Leaflet.Bookmarks.js"></script> -->
<script src="/static/base/visor/src/plugins/WFST/Leaflet-WFST.min.js"></script>
<script src="/static/base/visor/src/plugins/datatables/datatables.min.js"></script>
<script src="/static/base/visor/src/plugins/datatables/buttons.html5.min.js"></script>
<script src="/static/base/visor/src/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/static/base/visor/src/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="/static/base/visor/src/plugins/moment/moment.js"></script>
<script src="/static/base/visor/src/plugins/proj4js/proj4.js"></script>
<script src="/static/base/visor/src/plugins/proj4js/proj4leaflet.js"></script>
<script src="/static/base/visor/src/plugins/growl/javascripts/jquery.growl.js"></script>

<!-- this app's code -->
<script src="/static/base/visor/src/js/app.js"></script>
<script src="/static/base/visor/src/js/listeners.js"></script>

<!-- optional - custom functionality -->
<script src="/static/base/visor/custom_visor.js"></script>

<!-- the configuration file holding this app's customisations -->
<script src="/static/base/visor/config_visor.js"></script>

<!-- the d3js file serves operations between layers -->
<script src="//d3js.org/d3.v3.min.js"></script>
{% endblock contenido %}