{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<div class="modal" id="wait_modal">
	<div class="modal-dialog" >
		<div class="modal-content" style="width: 100%;  margin-top:25px;background: #cac7c7; background-image:url(/static/base/cristalinas/img/basic/fondo-header.png);">
			<h3 class="text-center" style="color: yellow;">Cargando..</h3>
		</div>
	</div>
</div>

<section class="history-one">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
              <select class="form-control" name='catalogo1' id='id-catalogo1' style="color: red;" onchange="val_capa()">
                {% for opc in catalogo %}
                    <option value={{forloop.counter0}}>{{opc}}</option>
                {% endfor %}
              </select>
            </div>
          <div class="col-md-10 ml-auto mr-auto">
            <div id="id_mapa" style="border: solid; border-radius: 5px; border-color: rgb(131, 130, 130);">
              {{mapa | safe}}
            </div>
          </div>
    </div>
</section>

<script type="text/javascript">

    function val_capa() {
        $('#wait_modal').modal("show");
        var select = document.getElementById('id-catalogo1');
        var selectedOption = select.options[select.selectedIndex];
        var capa = selectedOption.value;
        var datos = {'capa': capa, 'nombre': selectedOption.text};
        $.get( "{% url 'visor:update_capas' %}", datos, function( data ) {
            $('#id_mapa').html(data.content.mapa);
            $('#wait_modal').modal("hide");
        })
    }
  //  SIPRA
</script>
  
{% endblock contenido %}
